<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HContactList"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".RefreshTime.Refresh.RefreshActivity"
            android:exported="false"
            android:label="Random Dog "
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Univercity.UnivercityActivity"
            android:exported="false"
            android:label="University List"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TicTocToGame.TicTocActivity"
            android:exported="false"
            android:label="The Biliniors"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TravelActivity"
            android:exported="false"
            android:label="Plan Your Jurney"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentManagementPortal.ShowStudentActivity"
            android:exported="false"
            android:label="Student Details"
            android:parentActivityName=".StudentManagementActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentManagementPortal.RegistrationActivity"
            android:exported="false"
            android:label="Register Here"
            android:parentActivityName=".StudentManagementActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentManagementActivity"
            android:exported="false"
            android:label="Student Portal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity4mob"
            android:exported="false"
            android:label="Comapany List"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity3st"
            android:exported="false"
            android:label="State List"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="Contact"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>